.c-bc-app {
  padding-top: 50px;
  height: 100vh;
}

.c-bc-app::after {
  content: '';
  background-image: url('./images/pride-bg.jpg');
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.c-bc-app__button {
  margin: 20px auto;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
}
